# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg

# Make sure we don't pick up our own egg
Pipeline*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/**
docs/source/_autosummary/**
docs/source/_automodapi/**

# CASA/Pipeline log files
**/casa-*.log
docs/casa-*.log
docs/source/casa-*.log
*.last
**/casacalls-*.txt

# Slurm
**/*.out

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pycharm
.idea/

# vim
# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags

# Persistent undo
[._]*.un~

# VSCode
.vscode/

# ignore _version.py, created by setup.py
_version.py

# auto-generated recipe scripts (any .py files except __init__.py and recipe_converter*.py)
pipeline/recipes/python_recipes
docs/source/references/pipeline-resolved.bib

**/.DS_Store

# Ruff cache
.ruff_cache

# data etc.
**/*.zarr
**/*.ms
**/*.tar
**/*.zip
**/*.fits
**/*.im
**/*.image
**/*.model
**/*.residual
**/*.mask
**/*.pbcor
**/*.sumwt
**/*.flux
**/*.weight
**/*.sigma
**/*.cube
**/*.moment
**/*.moment0
**/*.moment1
**/*.moment2

# Pixi environments and local state
.pixi/