# git shortlog -se
Ajay Vibhute <avibhute@nrao.edu> Ajay Vibhute <avibhute@cvpost125.cv.nrao.edu>
Akira Yoshino <yoshino.akira@nao.ac.jp>
Brian Kent <bkent@nrao.edu> brian.kent <brian.kent@ac9c0da5-131f-0410-9009-a9c195f183e6>
Dirk Muders <dmuders@mpifr-bonn.mpg.de> Dirk Muders <dmuders@nrao.edu>
Dirk Muders <dmuders@mpifr-bonn.mpg.de> Dirk Muders <dmuders@polaris.cv.nrao.edu>
Eugene Vasiliev <eugene.vasiliev@stfc.ac.uk>
Federico Montesino Pouzols <fpouzols@eso.org> FedeMPouzols <fpouzols@eso.org>
Jose Sabater <jose.sabater@stfc.ac.uk> Jose Sabater <jsm@jsabater.info>
Joseph Masters <jmasters@nrao.edu>
Kana Sugimoto <kanako.sugimoto@nao.ac.jp> Kana Sugimoto <ksugimot@nrao.edu>
Kana Sugimoto <kanako.sugimoto@nao.ac.jp> Kanako Sugimoto <ksugimot@hazki.aoc.nrao.edu>
Kristin Berry <kberry@nrao.edu> Kristin Berry <kberry@cvpost120.cv.nrao.edu>
Laszlo Szucs <lszucs@nrao.edu> László Szücs <lszucs@nrao.edu>
Laszlo Szucs <lszucs@nrao.edu> László Szűcs <laszlo.szucs@mpe.mpg.de>
Laszlo Szucs <lszucs@nrao.edu> László Szűcs <laszlo.szucs@nrao.edu>
Luke Maud <lmaud@eso.org> lmaud <lmaud@eso.org>
Remy Indebetouw <rindebet@nrao.edu> <remy@virginia.edu>
Remy Indebetouw <rindebet@nrao.edu> <indebetouw@gmail.com>
Rui Xue <rxue@nrao.edu> <rx.astro@gmail.com>
Rui Xue <rxue@nrao.edu> <r-xue@users.noreply.github.com>
Shawn Booth <sbooth@nrao.edu>
Shawn Booth <sbooth@nrao.edu> <stb5585@gmail.com>
Stewart Williams <stewart.williams@stfc.ac.uk> Stewart Williams <16945415+bravostuzero@users.noreply.github.com>
Stewart Williams <stewart.williams@stfc.ac.uk> Stewart Williams <swilliam@cvpost002.cv.nrao.edu>
Stewart Williams <stewart.williams@stfc.ac.uk> Stewart Williams <swilliam@cvpost008.cv.nrao.edu>
Stewart Williams <stewart.williams@stfc.ac.uk> Stewart Williams <swilliam@cvpost019.cv.nrao.edu>
Stewart Williams <stewart.williams@stfc.ac.uk> Stewart Williams <swilliam@cvpost049.cv.nrao.edu>
Stewart Williams <stewart.williams@stfc.ac.uk> Stewart Williams <swilliam@nrao.edu>
Takeshi Nakazato <takeshi.nakazato@nao.ac.jp> takeshi.nakazato <takeshi.nakazato@ac9c0da5-131f-0410-9009-a9c195f183e6>
Ville Suoranta <vsuorant@nrao.edu> ville.suoranta <ville.suoranta@ac9c0da5-131f-0410-9009-a9c195f183e6>
Vincent Geers <vincent.geers@stfc.ac.uk> Vincent Geers <11389220+vcgeers@users.noreply.github.com>
Vincent Geers <vincent.geers@stfc.ac.uk> Vincent Geers <vgeers@nrao.edu>
Yohei Hayashi <yohei.hayashi@nao.ac.jp>
Yoshino Akira <yoshino.akira@nao.ac.jp> Yoshino Akira <yoshino.akira@ana03.alma.nao.ac.jp>
Yoshino Akira <yoshino.akira@nao.ac.jp> yoshino.akira <yoshino.akira@ac9c0da5-131f-0410-9009-a9c195f183e6>
Darrell Schiebel <dschieb@nrao.edu> <darrell.schiebel@ac9c0da5-131f-0410-9009-a9c195f183e6>
Dirk Muders <dmuders@mpifr-bonn.mpg.de> dirk.muders <dirk.muders@ac9c0da5-131f-0410-9009-a9c195f183e6>
Federico Montesino Pouzols <fpouzols@eso.org> federico.pouzols <federico.pouzols@ac9c0da5-131f-0410-9009-a9c195f183e6>
George Kosugi <george.kosugi@nao.ac.jp> <george.kosugi@ac9c0da5-131f-0410-9009-a9c195f183e6>
Hajime Ezawa <h.ezawa@nao.ac.jp> hajime.ezawa <hajime.ezawa@ac9c0da5-131f-0410-9009-a9c195f183e6>
Joseph Masters <jmasters@nrao.edu> joe.masters <jmasters@nrao.edu>
Joseph Masters <jmasters@nrao.edu> joe.masters <joe.masters@ac9c0da5-131f-0410-9009-a9c195f183e6>
John Lightfoot <john.lightfoot@stfc.ac.uk> <john.lightfoot@ac9c0da5-131f-0410-9009-a9c195f183e6>
Kana Sugimoto <kanako.sugimoto@nao.ac.jp> kana.sugimoto <kana.sugimoto@ac9c0da5-131f-0410-9009-a9c195f183e6>
Kazuhiko Shimada <kazuhiko.shimada@nao.ac.jp> kazuhiko.shimada <kazuhiko.shimada@nao.ac.jp>
Lindsey Davis <ldavis@nrao.edu> <lindsey.davis@ac9c0da5-131f-0410-9009-a9c195f183e6>
Shinnosuke Kawakami <shinnosuke.kawakami@nao.ac.jp> <shinnosuke.kawakami@ac9c0da5-131f-0410-9009-a9c195f183e6>
Stewart Williams <stewart.williams@stfc.ac.uk> stewart.williams <stewart.williams@ac9c0da5-131f-0410-9009-a9c195f183e6>
Vincent Geers <vincent.geers@stfc.ac.uk>  vincent.geers <vincent.geers@ac9c0da5-131f-0410-9009-a9c195f183e6>
Wes Young <wyoung@nrao.edu> <wes.young@ac9c0da5-131f-0410-9009-a9c195f183e6>
Yohei Hayashi <yohei.hayashi@nao.ac.jp> yohei <yohei.hayashi@nao.ac.jp>
Yohei Hayashi <yohei.hayashi@nao.ac.jp> yohei.hayashi <yohei.hayashi@ac9c0da5-131f-0410-9009-a9c195f183e6>